@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter var';
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman-latin.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic-latin.var.woff2') format('woff2');
}

@layer base {
  html {
    @apply antialiased;
    text-size-adjust: 100%;
  }

  html,
  body {
    @apply h-full;
  }

  /**
    * makes the document full min-height
  */
  body {
    @apply w-full;
    @apply font-normal;
    @apply bg-white;

    /** This doesn't work for `height` in Firefox */
    min-height: -moz-available;
    /*
    * This does work for `height` in Chrome and Safari,
    * but Safari has some weird redraw issue
    * (open and close devtools and you will see).
    */
    min-height: -webkit-fill-available;
    @apply h-full;
  }
}
