# Swap out "REMIX_REGISTRY_TOKEN" below with the key you get from logging in
# to https://remix.run. If this is a public repo, you'll want to store `REMIX_REGISTRY_TOKEN` in your shells environment variables
//npm.remix.run/:_authToken=${REMIX_REGISTRY_TOKEN}

# This line tells npm where to find @remix-run packages.
@remix-run:registry=https://npm.remix.run
@mcansh:registry=https://registry.npmjs.org
